.App {
  text-align: center;
  vertical-align: center;
  width: 100%;
  position: absolute;
}

/*  The .App-logo element is not currently in use:

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

*/

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 0.1em 0.1em black;
}

  .current-time {
    line-height: 1em;
  }

.App-link {
  color: white;
  background-color: rgba(40, 44, 52, 0.5);
  border: solid 1px rgba(255, 255, 255, 0.5);
  padding: 0.5em 1.25em;
  text-decoration: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: inline;
}

  /* When an App-link class element is hovered over: */
  .App-link:hover {
    background-color: rgba(251, 215, 97, 0.5);
    border: solid 1px rgba(251, 215, 97, 0.5);
  }

  /* Hide an element with this class by default */
  .hidden {
    display: none;
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 379px){
  .App {
    top: 0;
    bottom: 10vh;
  }
  .current-time {
    font-size: 2em;
  }
  .hidden {
    display: inline;
  }

  .App-link {
    font-size: 1.5em;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0.5em 0;
    line-height: 1.5em;
  }

  #links {
    margin-top: 2em;
  }
}

@media only screen and (min-width: 380px) and (max-width: 599px){
  .App {
    top: 0;
    bottom: 10vh;
  }
  .current-time {
    font-size: 2em;
  }
  .hidden {
    display: inline;
  }

  .App-link {
    font-size: 1.5em;
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 0.5em;
    line-height: 1.5em;
  }

  #links {
    margin-top: 2em;
  }
}

@media only screen and (min-width: 600px) and (max-width: 799px){
  .App {
    top: 10vh;
    bottom: 10vh;
  }

  .current-time {
    font-size: 2em;
  }

  #links {
    margin-top: 2em;
  }
}

@media only screen and (min-width: 800px){
  .App {
    top: 15vh;
    bottom: 15vh;
  }

  .current-time {
    font-size: 2em;
  }

  #links {
    margin-top: 2em;
  }
}